<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="org.persac"/>

    <!-- Services -->
    <bean id="itemService" class="org.persac.service.impl.ItemServiceImpl"
          c:itemDao-ref="itemDao"
          c:categoryDao-ref="categoryDao"
          c:assetTypeDao-ref="assetTypeDao"/>

    <!-- dependency is aurowired in day service -->
    <bean id="dayService" class="org.persac.service.impl.DayServiceImpl"/>

    <bean id="weekService" class="org.persac.service.impl.WeekServiceImpl"
          c:weekDao-ref="weekDao"
          c:itemDao-ref="itemDao" />

    <bean id="monthService" class="org.persac.service.impl.MonthServiceImpl"
          c:monthDao-ref="monthDao"
          c:itemDao-ref="itemDao"
          c:assetDao-ref="assetDao"/>

    <bean id="categoryService" class="org.persac.service.impl.CategoryServiceImpl"
          c:categoryDao-ref="categoryDao"
          c:itemDao-ref="itemDao"/>

    <bean id="userService" class="org.persac.service.impl.UserServiceImpl"/>

    <bean id="assetService" class="org.persac.service.impl.AssetServiceImpl"/>

    <bean id="assetTypeService" class="org.persac.service.impl.AssetTypeServiceImpl"
          p:assetTypeDao-ref="assetTypeDao"/>

    <!-- Operation Services -->
    <bean id="itemOperationService" class="org.persac.service.operation.ItemOperationService"/>
</beans>




